.follow-n-followee {
    margin: 5px;
    padding: 15px;
    border: 1px solid red;
}

.follow-n-followee-tab {
    border-bottom: 1px solid red;
}

.friend-content .hide {
    display: none;
}

.friend-content .show {
    display: block;
}