<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muskets.mustagram.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.muskets.mustagram.vo.User">
        INSERT INTO user_info
            (user_id, user_name, user_password, user_telephone, user_email, user_gender, user_birthdate, user_address, user_image, user_nickname, user_sns)
        VALUES
            (#{id}, #{name}, #{password}, #{telephone}, #{email}, #{gender}, #{birthdate}, #{address}, #{image}, #{nickname}, #{sns})
    </insert>
    <update id="updateUser" parameterType="com.muskets.mustagram.vo.User">
        UPDATE user_info
        SET
            user_password = #{password},
            user_telephone = #{telephone},
            user_email = #{email},
            user_address = #{address},
            user_image = #{image},
            user_nickname = #{nickname}
        WHERE
            user_id = #{id}
    </update>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM user_info
        WHERE
            user_id = #{id}
    </delete>
    <insert id="insertFollower">
        INSERT INTO user_follow
            (followee_id, follower_id)
        VALUES
            (#{userId}, #{friendId})
    </insert>
    <delete id="deleteFollower">
        DELETE FROM user_follow
            WHERE followee_id = #{userId}
            AND follower_id = #{friendId}
    </delete>
    <select id="getUserById" parameterType="String" resultType="com.muskets.mustagram.vo.User">
        SELECT
            user_id AS id,
            user_name AS name,
            user_password AS password,
            user_telephone AS telephone,
            user_email AS email,
            user_gender AS gender,
            user_birthdate AS birthdate,
            user_address AS address,
            user_image AS image,
            user_nickname AS nickname,
            user_sns AS sns
        FROM user_info
        WHERE
            user_id = #{id}
    </select>
    <select id="getAllFollowersOf" parameterType="String" resultType="com.muskets.mustagram.vo.User">
        SELECT
            user_id AS id,
            user_name AS name,
            user_password AS password,
            user_telephone AS telephone,
            user_email AS email,
            user_gender AS gender,
            user_birthdate AS birthdate,
            user_address AS address,
            user_image AS image,
            user_nickname AS nickname,
            user_sns AS sns
        FROM user_info
        WHERE user_id IN (
            SELECT
                follower_id
            FROM
                user_follow
            WHERE
                followee_id = #{id}
        )
        ORDER BY
            user_name;
    </select>
    <select id="getAllFolloweesOf" parameterType="String" resultType="com.muskets.mustagram.vo.User">
         SELECT
            user_id AS id,
            user_name AS name,
            user_password AS password,
            user_telephone AS telephone,
            user_email AS email,
            user_gender AS gender,
            user_birthdate AS birthdate,
            user_address AS address,
            user_image AS image,
            user_nickname AS nickname,
            user_sns AS sns
        FROM user_info
        WHERE user_id IN (
            SELECT
                followee_id
            FROM
                user_follow
            WHERE
                follower_id = #{id}
        )
        ORDER BY
            user_name;
    </select>
</mapper>
